// Utilities
// -------------------------------------------------------
.text-bright {
	color: $bright;
}

.text-in-theme-color, 
.text-in-theme-color a {
	color: brand-color("gray-4");
	.green & {
		color: brand-color("green-6");
	}
	.blue & {
		color: brand-color("blue-3");
	}
}
a.text-in-theme-color,
.text-in-theme-color a:hover {
	color: $bright;
}

/* Block styles */
// -------------------------------------------------------
// Wrappers with backgrond colors
// -------------------------------------------------------
$wrap-bg-colors: (
	"beige-1",
	"beige-2",
	"beige-3",
	"beige-4",
	"beige-5",
	"beige-6",
	"white-1",
	"green-1",
	"bright"
);

@each $value in $wrap-bg-colors {
	.wrap-bg-#{$value} {
		background-color: brand-color($value);
	}
}

// Styles for text block with red title
// -------------------------------------------------------
$text-block-title: $bright;
$text-block-text-color: brand-color("gray-4");
.text-block {
	color: $text-block-text-color;
	.title {
		color: $text-block-title;
	}
}

// Logo block
// -------------------------------------------------------
.logo {
	background-image: url("../img/logo.svg");
	background-repeat: no-repeat;
	min-height: 1em;
	min-width: 50px;
	color: rgba(0, 0, 0, 0);
	&:hover {
		color: rgba(0, 0, 0, 0);
	}
	&.size-big {
		width: 100%;
	}
}
img.logo {
	background-image: none;
}
a.logo img {
	display: none;
}
a, span {
	&.logo {
		display: inline-block;
	}
}
.logo-png {
	width: 100%;
}
.logo-text {
	display: block;
	position: absolute;
	bottom: -10px;
	left: 2px;
	// font-size: 0.84rem;
	font-weight: bold;
	color: $bright;
	// @include media-breakpoint-down(sm) {
	// 	font-size: 0.65rem;
	// }
	// @include media-breakpoint-down(xs) {
	// 	font-size: 0.52rem;
	// }
}



// Menu block
// -------------------------------------------------------
.menu {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 600;
	.nav-link {
		position: relative;
		text-decoration: none;
		color: brand-color("gray-3");
		// @include media-breakpoint-down(lg) {
			padding-left: $nav-link-padding-x/4;
			padding-right: $nav-link-padding-x/4;
		// }
		@include media-breakpoint-down(md) {
			padding-left: $nav-link-padding-x;
			padding-right: $nav-link-padding-x;
		}
		&.active {
			color: $bright;
			&::after {
				content: ' ';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin-left: $nav-link-padding-x;
				margin-right: $nav-link-padding-x/2;
				@include media-breakpoint-down(lg) {
					margin-left: $nav-link-padding-x/2;
					margin-right: $nav-link-padding-x/4;
				}
				display: block;
				//display: none;
				height: 12px;
				background-image: url("../img/menu-underline.svg");
				background-position: top right;
				background-repeat: no-repeat;
				background-size: auto 100%;
			}
		}
		&.disabled {
			color: brand-color("gray-7");
		}
		&:hover {
			color: $bright;
			text-decoration: none;
		}
	}
}
// Add hoverable menu
@include media-breakpoint-up(lg) {
	.nav-item-submenu {
		display: block;
		.nav-link-submenu {
			&:hover + .dropdown-menu {
				display: block;
			}
		}
		.dropdown-menu {
			margin-top: 0;
			&:hover {
				display: block;
			}
		}
	}
}
.main-menu-submenu {
	.dropdown-item {
		font-weight: bold;
		&:hover {
			background-color: transparent;
			color: $bright;
		}
		&:active,
		&:focus {
			background-color: $bright;
			color: brand-color("white-1");
		}
	}
}
@include media-breakpoint-down(md) {
	.nav-item-submenu {
		display: block;
	}
	.main-menu-submenu {
		display: block;
		position: relative;
		top: auto;
		left: auto;
		float: none;
		width: 100%;
		background: none;
		border: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
	.dropdown-divider {
		display: none;
	}
}

// Sign in link block
// -------------------------------------------------------
.signin {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 600;
	color: brand-color("gray-3");
	display: inline-block;
	height: 100%;
	@include media-breakpoint-down(md) {
		height: auto;
	}
	&:hover {
		color: $bright;
		text-decoration: none;
		+ .menu-signin {
			display: block;
		}
	}
	@include media-breakpoint-up(lg) {
		& span {
			display: none;
		}
	}
}
.menu-signin {
	margin-top: 0;
	text-transform: uppercase;
	.dropdown-item {
		font-weight: bold;
		&:hover {
			color: $bright;
			background-color: transparent;
		}
	}
	&:hover {
		display: block;
	}
	@include media-breakpoint-down(md) {
		display: block;
		position: relative;
		top: auto;
		right: auto;
		left: auto;
		background-color: transparent;
		border: 0;
		float: none;
		padding-top: 0;
		padding-bottom: 0;
	}
}
.signin-wrap {
	text-align: right;
}

// Languages block
// -------------------------------------------------------
.languages {
	font-size: .9em;
	line-height: 28px;
	margin-right: 10px;
	a {
		text-decoration: none;
		text-transform: uppercase;
		color: brand-color("gray-3");
		&:hover {
			color: $bright;
		}
		&:active,
		&.active {
			color: $bright;
			font-weight: bold;
			// text-decoration: underline;
		}
	}
	&.at-home-page {
		position: absolute;
		// right: 20px;
		top: 10px;
		left: 50%;
		margin-left: 20px;
		z-index: 10;
		font-size: 1em;
		color: brand-color("white-1");
		a {
			color: brand-color("white-1");
			&:hover,
			&:active,
			&.active {
				color: $bright;
			}
		}
	}
}

// Socials block
// -------------------------------------------------------
.socials {
	text-align: right;
	a {
		display: inline-block;
		background-image: url("../img/socials.png");
		background-position: 0 0;
		width: 28px;
		height: 28px;

		&.facebook {
			background-position: 0 0;
		}
		&.pinterest {
			background-position: 62px 0;
		}
		&.instagram {
			background-position: 28px 0;
		}
		&:hover {
			filter: brightness(90%);
		}
	}
}

// Italy-map block
// -------------------------------------------------------
.wrap-map {
	display: block;
	width: 100%;
	max-width: 100%;
	svg {
		width: 100%;
		height: auto;
		max-height: 575px;
	}
}

// Advertising block
// -------------------------------------------------------
.advertising {
	display: block;
	width: 100%;
	height: 300px;
	background-color: brand-color("gray-6");
	.green & {
		background-color: brand-color("green-4");
	}
	&.green {
		background-color: brand-color("green-4") !important;
	}
	.blue & {
		background-color: brand-color("blue-2");
	}
	&.blue {
		background-color: brand-color("blue-2") !important;
	}
}

// Form blocks
// -------------------------------------------------------

// Search form block red color
// -------------------------------------------------------
@function get-search-icon($color) {
	@return url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'><path fill='#{$color}' d='M 0 8 a 7 7 0 0 0 14 0 h -2 a 5 5 0 1 1 -10 0 a 5 5 0 1 1 10 0 h 2 a 7 7 0 0 0 -14 0 m 13 4 l 5 5 a 1 1 0 0 1 -2 1 l -4 -4 Z' /></svg>");
}
.search-icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
	background-image: escape-svg(get-search-icon(#fff));
	@each $color, $value in $theme-colors {
		.btn-#{$color} &, .btn-outline-#{$color}:hover & {
			background-image: escape-svg(get-search-icon(color-yiq($value)));
		}
		.btn-outline-#{$color} & {
			background-image: escape-svg(get-search-icon($value));
		}
	}
}
.btn-search {
	padding-top: .25em;
	padding-bottom: .25em;
}

// Common form block white color
// -------------------------------------------------------
.form-comment {
	textarea {
		resize: none;
		border-radius: 7px;
		border: 2px dashed brand-color("gray-6");
		border-style: dashed;
		height: 250px;
		&:focus {
			border: 2px solid $bright;
		}
	}
}

.form-filter {
	.form-control {
		border-radius: 0;
		border: $filter-input-border-width solid $filter-input-border-color;
		padding: $filter-input-padding-y $filter-input-padding-x;
		height: $filter-input-height;
		@include media-breakpoint-down(xs) {
			margin-left: 0 !important;
		}
	}
	.btn {
		border: 1px solid $bright;
		border-radius: $filter-btn-border-radius;
	}
	@include media-breakpoint-down(xs) {
		.input-group-append {
			margin-left: 0 !important;
		}
	}
}

// Main button
// -------------------------------------------------------
.btn-main, .btn-outline-main {
	position: relative;
	border-radius: .4rem;
	margin-bottom: 1rem	!important;
	&.btn-sm {
		border-radius: .3rem;
	}
	&.btn-lg {
		border-radius: .5rem;
	}
	z-index: 2;

	&:before {
		content: " ";
		position: absolute;
		display: block;
		height: 1rem;
		width: 2rem;
		right: 0%;
		bottom: -.7rem;
		background-color: transparent;
		background-image: url("../img/btn-angle.svg");
		background-size: contain;
		z-index: -1;
	}
	&.btn-sm:before {
		bottom: -0.5rem;
	}
	&.btn-lg:before {
		right: 10%;
		bottom: -1rem;
	}
	&.active:before {
		background-image: url("../img/btn-angle-active.svg");
	}
}
.btn-outline-main {
	background-color: brand-color("white-1");
}

// Tips block
// -------------------------------------------------------
@function get-angle-image($color) {
	@return url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 10'><path fill='#{$color}' d='M 0 0 h 20 l -20 10 Z' /></svg>");
}

$gray-tips: 
	brand-color("gray-6"),
	brand-color("gray-7"),
	brand-color("gray-3");

$green-tips: 
	brand-color("green-1"),
	brand-color("green-2"),
	brand-color("green-3");

$blue-tips:
	brand-color("blue-1"),
	brand-color("blue-2"),
	brand-color("blue-3");

@mixin set-tips-color ($list-colors) {
	@each $val in $list-colors {
		$id: list.index($list-colors, $val);
		.tips-color-#{$id} {
			background-color: $val;
			&:before {
				background-image: escape-svg(get-angle-image($val));
			}
		}
	}	
}

.tips-block {
	position: relative;
	background-color: brand-color("gray-6");
	padding: 2rem;
	border-radius: 1rem;
	font-size: 1.5em;
	line-height: 1.2;
	color: brand-color("white-1");
	min-height: 100%;

	&:before {
		content: " ";
		position: absolute;
		display: block;
		height: 2rem;
		width: 4rem;
		right: 10%;
		bottom: -1.9rem;
		background-color: transparent;
		background-image: escape-svg(get-angle-image(brand-color("gray-6")));
		background-size: contain;
	}
}
@include set-tips-color($gray-tips);
.green {
	@include set-tips-color($green-tips);
}
.blue {
	@include set-tips-color($blue-tips);
}

// Education item cards block
// -------------------------------------------------------
@mixin get-card-edu-colors($color-scheme: "gray") {
	@for $i from 1 through 3 {
		&.card-edu-color-#{$i} {
			background-color: brand-color("#{$color-scheme}-#{$i}");
		}	
	}	
}
.card-edu-wrap {
	margin-bottom: 2rem;
}
.card-edu-block {
	position: relative;
	.card-img-top {
		position: absolute;
		top: 3rem;
		left: 1.2rem;
		max-width: 80px;
		max-height: 80px;
	}
	padding-top: 6rem;

	@include get-card-edu-colors();
	.green & {
		@include get-card-edu-colors("green");
	}
	.blue & {
		@include get-card-edu-colors("blue");
	}
	.card-body {
		background-color: brand-color("white-1");
		padding-top: 3rem;
	}
	border: 0;
	min-height: 100%;
	// color: brand-color("green-6");
}

// Submenu edu block
// -------------------------------------------------------
.submenu-block {
	.breadcrumb {
		border: 0;
		border-right: 0;
		background-color: transparent;
	}
	.breadcrumb-item {
		text-transform: uppercase;
		&.active a {
			color: $bright;
		}
	}
}

.submenu-block {
	.nav-item {
		display: flex;
		text-transform: uppercase;
		width: 100%;
		@include media-breakpoint-up(sm) {
			width: auto;
			+ .nav-item {
				padding-left: $breadcrumb-item-padding;

				&::before {
				  display: inline-block; // Suppress underlining of the separator in modern browsers
				  padding-right: $breadcrumb-item-padding;
				  color: $breadcrumb-divider-color;
				  content: escape-svg($breadcrumb-divider);
				}
			}
		}
	}
	.nav-link {
		padding: 0;
		&.active {
			background-color: transparent;
			color: $bright;
		}
	}
}

// Subjects edu block
// -------------------------------------------------------
.subjects-block {
	p {
		margin-bottom: 0;
	}
}

// Review edu block
// -------------------------------------------------------
.card-review {
	.card-img {
		position: absolute;
		width: 70px;
		height: 70px;
		margin-top: 1px;
		margin-left: 1px;
		top: 1rem;
		left: 1rem;
	}
	.card-title, .card-subtitle {
		padding-left: 6rem;
	}
	.card-title {
		padding-top: 1rem;
		margin-bottom: .5rem;
		font-weight: bold;
	}
	.card-subtitle {
		color: brand-color("gray-6");
	}
	min-height: 100%;
	border: 0;
}

// Votes edu block
// -------------------------------------------------------
.votes-block {
	.vote-title {
		font-size: 1.6em;
		font-weight: bold;
	}
	.vote-form {
		font-weight: bold;
	}
	.vote-btn {
		text-align: right;
		@include media-breakpoint-up(lg) {
			text-align: left;
		}
		a {
			padding: 1rem;
			font-weight: bold;
			font-size: 1.6em;
		}
	}
}

// Library block
// -------------------------------------------------------
.lib-block {
	.lib-who {
		max-width: 100px;
		padding-right: 1rem;
		border-right: 1px solid $bright;
	}
	.lib-body {
		border-left: 1px solid $bright;
		padding-left: 1rem;
		margin-left: -1px;
	}
}

.btn-big {
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 0;
	padding: 1rem 0;
	position: relative;
	&:before {
		content: " ";
		position: absolute;
		display: block;
		height: 2rem;
		width: 4rem;
		right: 30%;
		@include media-breakpoint-up(md) {
			right: 60%;
		}
		bottom: -1.9rem;
		background-color: transparent;
		background-image: escape-svg(get-angle-image($bright));
		background-size: contain;
	}
}

.text-lead-info {
	text-transform: uppercase;
	color: brand-color("white-1");
	&:before {
		content: " ";
		position: absolute;
		display: block;
		height: 2rem;
		width: 4rem;
		right: 30%;
		@include media-breakpoint-up(md) {
			right: 60%;
		}
		bottom: -1.9rem;
		background-color: transparent;
		background-image: escape-svg(get-angle-image($bright));
		background-size: contain;
	}
}

.btn-main.no-angle {
	&::before {
		display: none;
	}
}

#map {
	height: 500px;
	width: 100%;
}

.news-block {
	background-color: transparent;
	border: 0;
	.news-img {
		position: relative;
	}
	.news-who {
		position: absolute;
		color: brand-color("white-1");
		// color: red;
		bottom: 1rem;
		right: 1rem;
	}
}

.video-text-block {
	border: 0;
	background-color: transparent;
}

.video-frame {
	width: 100%;
	min-height: 350px;
}

.news-tend-block {
	background-color: transparent;
	border: 0;
	.news-body {}
	.news-img {
		position: relative;
		img {
		}
		&:before {
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: escape-svg(url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='#{brand-color("beige-3")}' fill-rule='evenodd' d='M 5 0 h 90 a 5 5 0 0 1 5 5 v 80 a 5 5 0 0 1 -5 5 h -20 l -20 10 v -10 h -50 a 5 5 0 0 1 -5 -5 v -80 a 5 5 0 0 1 5 -5 h -5 v 100 h 100 v -100 h -95 Z'></path><path fill='none' stroke='#{brand-color("gray-5")}' d='M 5 0 h 90 a 5 5 0 0 1 5 5 v 80 a 5 5 0 0 1 -5 5 h -20 l -20 10 v -10 h -50 a 5 5 0 0 1 -5 -5 v -80 a 5 5 0 0 1 5 -5 Z'></path></svg>"));
			background-position: right bottom;
			background-repeat: no-repeat;
			background-size: cover;
			overflow: hidden;
			z-index: 2;
		}
	}
}

.fb-like-btn {
	&:before {
		content: ' ';
		display: inline-flex;
		height: 30px;
		width: 30px;
		margin-right: 5px;
		background-image: url("../img/fb-like.webp");
		background-position: top left;
		background-size: contain;
		background-repeat: no-repeat;
	}
	line-height: 30px;
	height: 30px;
	display: inline-flex;
	.green & {
		color: brand-color("green-1");
	}
	.blue & {
		color: brand-color("blue-1");
	}
}

.tooltip-inner {
	box-shadow: 0 0 5px brand-color("gray-2");
}


.wrap-social-images {
	background-image: url('../img/socialblog.webp'); 
	// min-height: 292px; // size of two photos
	min-height: 414px;
	position: relative; 
	background-repeat: repeat; 
	background-position: center top;
	@include media-breakpoint-up(md) {
		min-height: 414px; // size of three photos
	}
	@include media-breakpoint-up(lg) {
		min-height: calc(473px + 62px); /* image height + button */	
	}
	.btn {
		position: absolute;
		bottom: 0;
	}
}

.wrap-img {
	background-image: url("../img/tips_news_img_bg.webp");
}

.cookie-dialog {
	display: block;
	position: absolute;
	bottom: 0;
	left: 10%;
	right: 10%;
	background-color: brand-color("white-1");
	padding: 35px;
}

.gallery-block {}
$indicator-padding-x: 10px;
$indicator-width: 20%;
.carousel-indicators-block {
	display: flex;
	flex-wrap: wrap;
	margin-left: -$indicator-padding-x;
	margin-right: -$indicator-padding-x;
}
.galleries-image {
	flex: 1 1 $indicator-width;
	max-width: $indicator-width;
	padding: 10px $indicator-padding-x;
	position: relative;
	&.in-carousel:hover:after {
		content: ' ';
		display: block;
		position: absolute;
		bottom: 0;
		left: $indicator-padding-x;
		right: $indicator-padding-x;
		border-bottom: 2px solid $bright;
	}
	&.in-row {
		padding: $grid-gutter-width/2 $indicator-padding-x;
	}
}


.carousel-in-modal {
	// max-height: 90vh;
	// overflow: hidden;

	.carousel-item img {
		max-height: 90vh;
		max-width: 100%;
	}


	.carousel-control-prev {
		left: -1*$carousel-control-width;
	}
	.carousel-control-next {
		right: -1*$carousel-control-width;
	}

}