$gray-colors: (
	"item-1": #000,
	"item-2": #111,
	"item-3": #222,
	"item-4": #333,
	"item-5": #444,
	"item-6": #555,
	"item-7": #666,
	"item-8": #777,
	"item-9": #888,
	"item-10": #999,
	"item-11": #aaa,
	"item-12": #bbb,
	"item-13": #ccc,
	"item-14": #ddd,
	"item-15": #eee,
	"item-16": #f3f3f3,
	"item-17": #eaeaea,
	"item-18": #dadada,
	"item-19": #cacaca,
	"item-20": #bababa
	);
$green-colors: (
	"item-1": #249686,
	"item-2": #30bfa9,
	"item-3": #31c4ae,
	"item-4": #30c0a9,
	"item-5": #249686,
	"item-6": #32c6ae,
	"item-7": #208377,
	"item-8": #249686,
	"item-9": #249686,
	"item-10": #31c4ae,
	"item-11": #249686,
	"item-12": #208377,
	"item-13": #30c0a9,
	"item-14": #249686,
	"item-15": #32c6ae,
	"item-16": #249686,
	"item-17": #31c4ae,
	"item-18": #208377,
	"item-19": #30bfa9,
	"item-20": #249686
	);
$blue-colors: (
	"item-1": #123858,
	"item-2": #194b76,
	"item-3": #194d79,
	"item-4": #194d79,
	"item-5": #123858,
	"item-6": #1a4f7d,
	"item-7": #10304c,
	"item-8": #123858,
	"item-9": #123858,
	"item-10": #194d79,
	"item-11": #123858,
	"item-12": #10304c,
	"item-13": #194c78,
	"item-14": #123858,
	"item-15": #1a4f7d,
	"item-16": #123858,
	"item-17": #194d79,
	"item-18": #10304c,
	"item-19": #194b76,
	"item-20": #123858
	);

// Map
// -------------------------------------------------------
$bright-color: #ea3759;
@function green-color($key: "item-1") {
	@return map-get($brand-colors, $key);
}
@function blue-color($key: "item-1") {
	@return map-get($brand-colors, $key);
}

@mixin get-map-color ($color-list: $gray-colors) {
	@each $name, $color in $color-list {
		.#{$name} {
			fill: $color;
		}		
	}
}

.green {
	.map-italy {
		@include get-map-color($green-colors);
	}
}
.blue {
	.map-italy {
		@include get-map-color($blue-colors);
	}
}

.map-italy {
	@include get-map-color();
	path {
		cursor: pointer;
		&:hover {
			fill: $bright-color !important;
		}
	}
	&.gray {
		@include get-map-color();
	}
	&.green {
		@include get-map-color($green-colors);
	}
	&.blue {
		@include get-map-color($blue-colors); 
	}
}



// Regione links
// -------------------------------------------------------
.region-link {
	@include make-col(1, 4);
	@include media-breakpoint-up(sm) {
		@include make-col(1, 7);
	}
	@include media-breakpoint-up(md) {
		@include make-col(1, 10);
	}
	@include media-breakpoint-up(lg) {
		@include make-col(1, 21);
	}
	@include make-col-ready(2px);
	font-size: .8rem;
}
.region-title {
	font-size: .8rem;
	text-transform: uppercase;
	padding-top: 1rem;
	text-align: center;
	@include make-col(1, 1);
	@include media-breakpoint-up(sm) {
		@include make-col(1, 7);
	}
	@include media-breakpoint-up(md) {
		@include make-col(1, 1);
	}
	@include media-breakpoint-up(lg) {
		@include make-col(1, 21);
		text-align-last: left;
	}
}
.region-link {
	text-align: center;
	span {
		text-align: center;
		position: absolute;
		display: block;
		// left: -1.5rem;
		// right: -1.5rem;
	}
	&.active span,
	&.selected span {
		color: $bright;
	}
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.regions a.region-link {
	padding-top: 2rem;
	span {
		top: 0;
		line-height: 1;
		left: 0;
		right: 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	@include media-breakpoint-up(sm) {
		padding-top: 1rem;
	}
	@include media-breakpoint-up(sm) {
		padding-top: 2rem;
	}
	@include media-breakpoint-up(lg) {
		span {
			left: -1rem;
			right: -1rem;
			white-space: normal;
			text-overflow: unset;
			overflow: unset;
		}
		&:nth-child(even) {
			span {
				top: 0;
				bottom: auto;
			}
		}
		&:nth-child(odd) {
			span {
				bottom: 0;
				top: auto;
			}
		}
	}
}

@mixin get-region-menu-color($color-list: $gray-colors) {
	@each $name, $color in $color-list {
		&.#{$name} {
			fill: $color;
		}
	}
}
.region-img {
	fill: brand-color("gray-1");
	@include get-region-menu-color();

	max-width: 80%;
	max-height: 50px;
	// height: 50px;
	width: auto;
	.region-link:hover &,
	.region-link.selected &,
	.region-link.active & {
		fill: $bright !important;
	}
	.green & {
		@include get-region-menu-color($green-colors);
	}
	.blue & {
		@include get-region-menu-color($blue-colors);
	}
}