@use "sass:list";
/* Pre-styles and settings */
// -------------------------------------------------------
// Color map
$brand-colors: (
	"white-1": #ffffff,
	"white-2": #fafafa,

	"beige-1": #f1f0ed,
	"beige-2": #efebe3,
	"beige-3": #f3f0ee,
	"beige-4": #e6e7e9,
	"beige-5": #efeeec,
	"beige-6": #fbfaf9,

	"black": #000000,
	"gray-1": #222222,
	"gray-2": #333333,
	"gray-3": #363636,
	"gray-4": #494949,
	"gray-5": #72706e,
	"gray-6": #bdbab4,
	"gray-7": #a6a5a5,
	"gray-8": #e0e0e0,

	"bright": #ea3759,
	"yellow": #ffee00,

	"green-1": #00a081,
	"green-2": #60a094,
	"green-3": #7da099,
	"green-4": #30c0a9,
	"green-5": #208377,
	"green-6": #145664,

	"blue-1": #1a4f7d,
	"blue-2": #7491aa,
	"blue-3": #10304c
	);

.color-block {
	display: block;
	height: 100px;
	width: 100px;
	text-align: center;
	&:hover {
		border: 1px red solid;
	}
}
@each $name, $val in $brand-colors {
	.color-#{$name} {
		background-color: $val;
		color: invert($val);
	}
}
@function brand-color($key: "white-1") {
	@return map-get($brand-colors, $key);
}

$bright: brand-color("bright");

$link-color: brand-color("gray-4");
$link-hover-color: $bright;
$link-hover-decoration: none;


/* Bootstap theming */
// -------------------------------------------------------
$body-bg: #fff;
$body-color: brand-color("gray-4");

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$btn-border-radius: 11px;
$btn-border-radius-lg: $btn-border-radius;
$btn-border-radius-sm: $btn-border-radius;

$input-border-radius: $btn-border-radius;
$input-border-radius-lg: $btn-border-radius;
$input-border-radius-sm: $btn-border-radius;

$btn-border-width: 2px;

$input-btn-focus-width: 1px;
//$input-btn-focus-color: transparentize($bright, .9);
$input-btn-focus-color: $bright;

$primary: $bright;
$green: brand-color("green-1");
$blue: brand-color("blue-3");

$theme-colors: () !default;
$theme-colors: map-merge(
	(
		"main": $primary,
		"primary": $primary,
		"green": $green,
		"blue": $blue,
		"dark": brand-color("black")
	),
	$theme-colors
);


// $input-bg
// $input-color
$input-border-color: brand-color("gray-8");
$input-border-width: $btn-border-width;
// $input-box-shadow
// $input-focus-bg
$input-focus-border-color: $bright;
// $input-focus-color
$input-placeholder-color: brand-color("gray-7");
// $input-plaintext-color
$input-btn-focus-width: 0;


$form-feedback-valid-color: brand-color("gray-8");
$form-feedback-invalid-color: $bright;
$input-padding-y: .8rem;


/* Fonts */
// -------------------------------------------------------
// Google fonts Roboto: https://fonts.google.com/specimen/Roboto?sidebar.open=true&selection.family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900#standard-styles
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$font-family-base: 'Roboto Regular', sans-serif;
$font-size-base: .9rem;


$breadcrumb-divider: quote("-");

$tooltip-color: #000;
$tooltip-bg: #fff;
$tooltip-padding-y: 1rem;
$tooltip-padding-x: 1rem;
$tooltip-opacity: 1;
$tooltip-border-radius: 0;
$modal-header-border-width: 0;
$modal-footer-border-width: 0;


$carousel-control-color: $bright;
$carousel-control-width: 10%;
$carousel-control-opacity: .8;
$carousel-control-hover-opacity: 1;

$modal-backdrop-opacity: .8;



/* Bootstrap includings */
// -------------------------------------------------------
// Option A: Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Option B: Include parts of Bootstrap
/*// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/images";
// @import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/utilities";
//@import "../node_modules/bootstrap/scss/utilities/spacing";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/forms";*/

// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";
// @import "../node_modules/bootstrap/scss/root";
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";
// //@import "../node_modules/bootstrap/scss/images";
// //@import "../node_modules/bootstrap/scss/code";
// @import "../node_modules/bootstrap/scss/grid";
// //@import "../node_modules/bootstrap/scss/tables";
// @import "../node_modules/bootstrap/scss/forms";
// @import "../node_modules/bootstrap/scss/buttons";
// @import "../node_modules/bootstrap/scss/transitions";
// @import "../node_modules/bootstrap/scss/dropdown";
// @import "../node_modules/bootstrap/scss/button-group";
// @import "../node_modules/bootstrap/scss/input-group";
// @import "../node_modules/bootstrap/scss/custom-forms";
// @import "../node_modules/bootstrap/scss/nav";
// @import "../node_modules/bootstrap/scss/navbar";
// //@import "../node_modules/bootstrap/scss/card";
// @import "../node_modules/bootstrap/scss/breadcrumb";
// //@import "../node_modules/bootstrap/scss/pagination";
// //@import "../node_modules/bootstrap/scss/badge";
// //@import "../node_modules/bootstrap/scss/jumbotron";
// // @import "../node_modules/bootstrap/scss/alert";
// @import "../node_modules/bootstrap/scss/progress";
// @import "../node_modules/bootstrap/scss/media";
// @import "../node_modules/bootstrap/scss/list-group";
// @import "../node_modules/bootstrap/scss/close";
// @import "../node_modules/bootstrap/scss/toasts";
// @import "../node_modules/bootstrap/scss/modal";
// @import "../node_modules/bootstrap/scss/tooltip";
// @import "../node_modules/bootstrap/scss/popover";
// @import "../node_modules/bootstrap/scss/carousel";
// @import "../node_modules/bootstrap/scss/spinners";
// @import "../node_modules/bootstrap/scss/utilities";
// @import "../node_modules/bootstrap/scss/print";


$filter-input-padding-y: $input-btn-padding-y;
$filter-input-padding-y-sm: $input-btn-padding-y-sm;
$filter-input-padding-y-lg: $input-btn-padding-y-lg;
$filter-input-padding-x: $input-padding-x;
$filter-input-height: add($input-line-height * 1em, add($filter-input-padding-y * 2, $input-height-border, false)) !default;
$filter-input-height-sm: add($input-line-height-sm * 1em, add($filter-input-padding-y-sm * 2, $input-height-border, false)) !default;
$filter-input-height-lg: add($input-line-height-lg * 1em, add($filter-input-padding-y-lg * 2, $input-height-border, false)) !default;
$filter-btn-border-radius: 0;
$filter-input-border-radius: $filter-btn-border-radius;
$filter-input-border-radius-sm: $filter-btn-border-radius;
$filter-input-border-width: 1px;
$filter-input-border-color: $bright;
$filter-input-height-inner: add($input-line-height * 1em, $filter-input-padding-y * 2) !default;
$filter-input-focus-border-color: $bright;

@import "../../node_modules/@ttskch/select2-bootstrap4-theme/src/layout";
@import "../../node_modules/@ttskch/select2-bootstrap4-filter-theme/src/layout";

// Slider import
@import "../js/rangeslider.js-2.3.0/rangeslider.css";


// Utilities
// -------------------------------------------------------
.btn-r0 {
	border-radius: 0;
}


// Additional blocks
// -------------------------------------------------------
address {
	margin-bottom: 0;
}
@import "blocks";
@import "svg";

body {
	position: relative;
	min-height: 100vh;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}




/* Site styles */
// Home page
// -------------------------------------------------------

.wrap-links {
	position: relative;
}
.block-link {
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vh !important;
	@include make-col-ready();
	@include make-col(12);
	@include media-breakpoint-up(sm) {
		@include make-col(6);
		height: 100vh !important;
	}
	color: brand-color("white-1");
	// filter: grayscale(100%);

	&:hover {
		color: brand-color("white-1");
		text-decoration: none;

		//opacity: .95;
		filter: contrast(107%);
		// filter: grayscale(0%);
	}
	.name {
		//display: none;
		position: absolute;
		top: calc(35vh / 2);
		line-height: 1.2;
		text-transform: uppercase;
		font-weight: 900;
		font-size: .8em;
		width: 20%;
		@include media-breakpoint-up(sm) {
			top: 38vh;
			font-size: 1.2em;
			width: 49%;
		}
		@include media-breakpoint-up(md) {
			font-size: 2em;
		}
		@include media-breakpoint-up(lg) {
			font-size: 2em;
			width: 45%;
		}
		@include media-breakpoint-up(xl) {
			font-size: 2.5em;
			width: 40%;
		}
	}
}
.school-link {
	background-color: brand-color("green-1");
	// Light weight image for mobile devices
	// background-image: url("../img/school-link-mobile.jpg");
	background-image: url("../img/school3.jpg");
	background-position: center right 50%;
	@include media-breakpoint-up(sm) {
		background-position: center right 43%;
	}
	text-align: right;
	.name {
		right: 4%;
	}
}
.university-link {
	background-color: brand-color("blue-1");
	// Light weight image for mobile devices
	// background-image: url("../img/university-link-mobile.jpg");
	background-image: url("../img/university3.jpg");
	background-position: center left 25%;
	@include media-breakpoint-up(sm) {
		background-position: center left 37%;
	}
	text-align: left;
	.name {
		left: 4%;
	}
}
// The big red button
.logo-link {
	position: absolute;
	top: 15px;
	left: 5%;
	z-index: 1;
	display: block;
	height: auto;
	$width: 24%;
	width: $width;
	margin-left: 0;
	pointer-events: none;
	
	@include media-breakpoint-up(sm) {
		top: 9%;
		left: 50%;
		margin-left: calc(#{-1 * $width / 2});
	}
	&:hover {
		filter: contrast(180%);
	}
}

// Header styles
// -------------------------------------------------------
.header {
	background-color: brand-color("beige-2");
}
// Menu behaviour
.btn-menu {
	.navbar-toggler {
		color: rgba(0,0,0,.5);
		border-color: rgba(0,0,0,.1);
		border-radius: 0;
	}
	.navbar-toggler-icon {
		background-image: escape-svg($navbar-light-toggler-icon-bg);
	}
}

@include media-breakpoint-down(md) {
	.menu {
		.nav-link {
			width: 100%;
			text-align: left;
		}
	}
	.signin-wrap {
		text-align: left;
	}
	.signin {
		padding: $nav-link-padding-y $nav-link-padding-x;
	}
}


// Footer styles
// -------------------------------------------------------
.footer {
	background-color: brand-color("gray-4");
	color: brand-color("white-1");
	font-size: .8em;
	padding-top: 15px;
	padding-bottom: 15px;
	.green & {
		background-color: brand-color("green-1");
	}
	.blue & {
		background-color: brand-color("blue-3");
	}
}


// [tips_scuola] [tips_universita]
// -------------------------------------------------------
// header  header
// search
.wrap-search {
	background-color: #fff;
	& .container {
		position: relative;
	}
	& .container:before {
		content: ' ';
		position: absolute;
		bottom: 0;
		left: -38%;
		// margin-left: -50%;
		width: 100%;
		height: 100%;
		display: none;
		background-size: contain;
		background-position: left bottom;
		background-repeat: no-repeat;
		@include media-breakpoint-up(sm) {
			display: block;
			background-size: auto 100%;
			background-position: right bottom;
		}
		@include media-breakpoint-up(md) {
			// left: -49%;
			background-size: auto 100%;
			background-position: right bottom;
		}
		@include media-breakpoint-up(lg) {
			left: -50%;
			// width: 70%;
		}
		@include media-breakpoint-up(xl) {
			// margin-left: -14%;
		}
		@media (min-width: 1750px) {
			left: -60%;
		}
	}
	.green & .container:before {
		// background-image: url("../img/boy.webp");
		background-image: url("../img/school-bg-img.webp");
		// background-image: url("../img/bg-search-school.jpg");
	}
	.blue & .container:before {
		// background-image: url("../img/girl.webp");
		background-image: url("../img/university-bg-img.webp");
		// background-image: url("../img/bg-search-univer.jpg");
	}
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
}


.modal-header {
	padding: 40px 40px 10px;
}
.modal-body {
	padding: 10px 40px;
}
.modal-footer {
	padding: 10px 40px 40px;
}


