.form-search-block .form-control,
.form-search-block .select2-container {
  width: 100% !important;
}
.form-search-block .input-group-append,
.form-search-block .input-group-append .btn-search {
  width: 100%;
}
.filter-form-long.form-search-block .form-control,
.filter-form-long.form-search-block .select2-container {
  width: 100% !important;
}
.filter-form-long-5.form-search-block .form-control,
.filter-form-long-5.form-search-block .select2-container {
  width: 100% !important;
}
@media (min-width: 576px) {
  .form-search-block .form-control,
  .form-search-block .select2-container {
    width: 30% !important;
  }
  .filter-form-long.form-search-block .form-control,
  .filter-form-long.form-search-block .select2-container {
    width: 22% !important;
  }
  .filter-form-long-5.form-search-block .form-control,
  .filter-form-long-5.form-search-block .select2-container {
    width: 17% !important;
  }
  .form-search-block .input-group-append,
  .form-search-block .input-group-append .btn-search {
    width: auto;
  }
}
